body {
  background-color: white;
  text-align: center;
}
h1 {
  margin-top: 0;
}
.top-container {
  margin-bottom: 10;
  padding-top: 100px;
  position: relative;
}
.pro {
  text-decoration: underline;
}
.top-cloud {
  position: absolute;
  right: 500px;
  top: 40px;
  width: 320;
  height: 180;
}
.angels-gif {
  width: 150;
  height: 150;
  position: absolute;
  right: 585px;
  top: 40px;
}
.angels2-gif {
  width: 150;
  height: 150;
  position: absolute;
  left: 585px;
  top: 40px;
  transform: scaleX(-1);
}
.bottom-cloud {
  position: absolute;
  width: 320;
  height: 180;
  left: 500px;
  top: 40px;
}

#middle-container {
  background-color: red;
  height: 200px;
  width: 200px;
}
#botton-container {
  background-color: blue;
  height: 200px;
  width: 200px;
}
