body {
  margin: 0%;
}
.container {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: grey;
}
.red {
  background-color: red;
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0;
}
.blue {
  background-color: blue;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 100px;
  top: 0;
}
.yellow {
  background-color: yellow;
  height: 100px;
  width: 100px;
  position: fixed;
  top: 0;
}
